---
import Consultar from '../../../components/Consultar.astro';
import Contacto from '../../../components/Contacto/Contacto.astro';
import DescargarPrograma from '../../../components/DescargarPrograma.astro';
import DescargarCondiciones from '../../../components/DescargarCondiciones.astro';
import Burger from '../../../components/Hero/Burger';
import Nav from '../../../components/Nav.astro';
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Inglaterra Clásica - Polo & Wine">
  <Nav />
  <main
    class="relative bg-five py-10 xl:min-h-[calc(100vh-33.3975rem)] xl:py-20">
    <h1
      class="mx-auto w-[90%] text-center font-title text-6xl text-two sm:text-7xl">
      Inglaterra Clásica
    </h1>
    <p
      class="mx-auto mt-12 w-[90%] max-w-[50rem] font-text text-lg text-two">
      Circuito donde conocerás lo mejor de Inglaterra, desde
      los impresionantes paisajes del Distrito de los Lagos
      hasta ciudades medievales como Londres, York, Barnard
      Castle, Chester, Stratford, Winchester o la elegante
      ciudad georgiana de Bath con sus baños romanos y la
      moderna ciudad de Liverpool, la cuna de los Beatles.
    </p>

    <a
      href="https://docs.google.com/forms/u/1/d/e/1FAIpQLSccwsEKdxcB_aAdSUf7VeHcR8ABuRfPiZ-DH5FNCoPVhBr7LQ/viewform"
      aria-label="link a más información"
      target="_blank"
      class="text mx-auto mb-4 mt-8 block w-80 rounded-xl bg-two py-[0.6rem] text-center font-text text-xl font-semibold leading-7 tracking-wide text-one duration-200 hover:bg-one hover:text-two"
      >Mas información</a
    >

    <a
      href="https://excursionuk.com/es/aff/inglaterra-clasica--verano-2023-ew/?aff=Polo and Wine-15&company-name=excursion-uk&no-layout=false&no-logo=false&no-name=true&primary=2f4858&darker=2f4858&highlight=ffdf61&text=2f4858&text-lighter=2f4858"
      aria-label="link a reservar"
      target="_blank"
      class="text mx-auto mb-4 mt-8 block w-80 rounded-xl bg-two py-[0.6rem] text-center font-text text-xl font-semibold leading-7 tracking-wide text-one duration-200 hover:bg-one hover:text-two"
      >Reservar ahora</a
    >

    <Burger client:load />
  </main>
  <Contacto />
</Layout>
