---
import Consultar from '../../../components/Consultar.astro';
import Contacto from '../../../components/Contacto/Contacto.astro';
import DescargarCondiciones from '../../../components/DescargarCondiciones.astro';
import DescargarPrograma from '../../../components/DescargarPrograma.astro';
import Burger from '../../../components/Hero/Burger';
import Nav from '../../../components/Nav.astro';
import Layout from '../../../layouts/Layout.astro';
---

<Layout
  title="Las maravillas de Inglaterra, Escocia e Irlanda - Polo & Wine">
  <Nav />
  <main
    class="relative bg-five py-10 xl:min-h-[calc(100vh-33.3975rem)] xl:py-20">
    <h1
      class="mx-auto w-[90%] text-center font-title text-5xl text-two sm:text-7xl">
      Las maravillas de Inglaterra,<br
        class="hidden md:block"
      /> Escocia e Irlanda
    </h1>
    <p
      class="mx-auto mt-12 w-[90%] max-w-[50rem] font-text text-lg text-two">
      En este circuito visitaremos los cinco países que
      forman parte de las Islas Británicas. El tour nos
      llevará por lugares famosos, maravillosos paisajes,
      ciudades de ensueño y también nos mostrará las bellas
      sorpresas ocultas que el Reino Unido e Irlanda
      ofrecen.
    </p>

    <DescargarPrograma
      title="maravillas_inglaterra_escocia_irlanda"
    />
    <DescargarCondiciones />
    <Consultar />

    <Burger client:load />
  </main>
  <Contacto />
</Layout>
