---
import Consultar from '../../../components/Consultar.astro';
import Contacto from '../../../components/Contacto/Contacto.astro';
import DescargarCondiciones from '../../../components/DescargarCondiciones.astro';
import DescargarPrograma from '../../../components/DescargarPrograma.astro';
import Burger from '../../../components/Hero/Burger';
import Nav from '../../../components/Nav.astro';
import Layout from '../../../layouts/Layout.astro';
---

<Layout
  title="Las maravillas de Inglaterra, Escocia e Irlanda - Polo & Wine">
  <Nav />
  <main
    class="relative bg-five py-10 xl:min-h-[calc(100vh-33.3975rem)] xl:py-20">
    <h1
      class="mx-auto w-[90%] text-center font-title text-5xl text-two sm:text-7xl">
      Las maravillas de Inglaterra,<br
        class="hidden md:block"
      /> Escocia e Irlanda
    </h1>
    <p
      class="mx-auto mt-12 w-[90%] max-w-[50rem] font-text text-lg text-two">
      En este circuito visitaremos los cinco países que
      forman parte de las Islas Británicas. El tour nos
      llevará por lugares famosos, maravillosos paisajes,
      ciudades de ensueño y también nos mostrará las bellas
      sorpresas ocultas que el Reino Unido e Irlanda
      ofrecen.
    </p>

    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSeRqiUqKg1SXQh8rh3F2-tn_4Ve9ulcFdsiqBcIiD-OmTD7Qg/viewform"
      aria-label="link a más información"
      target="_blank"
      class="text mx-auto mb-4 mt-8 block w-80 rounded-xl bg-two py-[0.6rem] text-center font-text text-xl font-semibold leading-7 tracking-wide text-one duration-200 hover:bg-one hover:text-two"
      >Mas información</a
    >

    <a
      href="https://excursionuk.com/es/aff/las-maravillas-de-inglaterra--escocia-e-irlanda-verano-2023-ew/?aff=Polo and Wine-15&company-name=excursion-uk&no-layout=1&no-logo=1&no-name=true&primary=2f4858&darker=2f4858&highlight=ffdf61&text=2f4858&text-lighter=2f4858"
      aria-label="link a reservar"
      target="_blank"
      class="text mx-auto mb-4 mt-8 block w-80 rounded-xl bg-two py-[0.6rem] text-center font-text text-xl font-semibold leading-7 tracking-wide text-one duration-200 hover:bg-one hover:text-two"
      >Reservar ahora</a
    >
    <Burger client:load />
  </main>
  <Contacto />
</Layout>
