---
import Grid from './Grid.astro';
---

<main
  class="bg-bg py-10"
  id="products">
  <h1
    class="mx-auto w-[90%] max-w-[64rem] text-center font-title text-4xl text-two sm:text-5xl xl:text-6xl">
    Viajes, eventos y más: descubre lo que Polo & Wine tiene
    para ofrecer
  </h1>
  <Grid />

  <p
    class="mx-auto w-[90%] text-center font-text text-lg text-two">
    Para mas productos, visita nuestro <a
      href="https://instagram.com/poloandwine"
      rel="noreferrer"
      target={'_blank'}
      aria-label="link a instagram"
      class="text-xl underline"
      >Instagram!</a
    >
  </p>

  <!-- Btn Reservar -->
  <a
    href="https://wa.link/jdmx80"
    rel="noreferrer"
    target="_blank"
    aria-label="link to whatsapp"
    class="text mx-auto mb-4 mt-8 block w-[16.875rem] rounded-xl bg-two py-[0.6rem] text-center font-text text-xl font-semibold leading-7 tracking-wide text-one duration-200 hover:bg-one hover:text-two"
    >Reservar</a
  >
</main>
