<p
  class="text-center font-text text-xl text-one opacity-0 duration-1000">
  Experiencias a medida en Reino Unido y Argentina.<br
    class="hidden sm:block"
  />
  Deportes, conciertos y eventos. Habla hispana/portuguesa.
</p>
