<!-- <p
  class="absolute bottom-[100px] left-1/2 w-[90%] text-one translate-x-[-50%] text-center text-2xl tracking-wide text-white sm:bottom-[4.5rem] xl:bottom-12 xl:text-2xl mobile-landscape:bottom-[20px]">
  Experiencias a medida en Reino Unido y Argentina.
  Deportes, conciertos y eventos. Habla hispana/portuguesa.
</p> -->
<p class="text-center font-text text-xl text-one">
  Experiencias a medida en Reino Unido y Argentina.<br
    class="hidden xsm:block"
  />
  Deportes, conciertos y eventos. Habla hispana/portuguesa.
</p>
