---
import { Image } from '@astrojs/image/components';
import Burger from './Burger';
import HeroText from './HeroText.astro';
import logo_mobile from '../../assets/logo-mobile.png';
import logo from '../../assets/Logo.png';
import CtaVerProductos from './CtaVerProductos.astro';
import Background from './Background.astro';
---

<section
  class="sm:screen mobile-landscape:h-[600px] relative h-screen xsm:h-[622px] xl:-mt-24">
  <Background />

  <div
    class="mx-auto flex w-[90%] flex-col items-center justify-center pt-[100px]">
    <Image
      alt="logo"
      src={logo_mobile}
      width={400}
      height={235}
      quality={100}
      class="xsm:hidden"
    />
    <Image
      alt="logo"
      src={logo}
      width={500}
      height={293}
      quality={100}
      class="hidden xsm:inline"
    />
    <div
      class="absolute bottom-36 left-1/2 mx-auto flex w-[90%] translate-x-[-50%] flex-col justify-between gap-8 xsm:bottom-10">
      <HeroText />
      <CtaVerProductos />
    </div>
    <Burger client:load />
  </div>
</section>
<script>
  const text: HTMLParagraphElement | null =
    window.document.querySelector('p')!;
  const arr = [text];

  console.log(text);

  const observer = new IntersectionObserver((entries) => {
    entries.forEach((entry) => {
      if (entry.isIntersecting) {
        entry.target.classList.add('opacity-100');
      } else {
        // entry.target.classList.add('opacity-0');
      }
    });
  });

  observer.observe(text);
</script>
