<nav>
  <ul
    class="absolute left-1/2 hidden w-[45rem] translate-x-[-50%] justify-between pt-9 text-xl text-one lg:flex xl:w-[50rem]">
    <li>
      <a href="/"> Home</a>
    </li>
    <li>
      <a href="/#products"> Productos</a>
    </li>
    <li>
      <a href="/#courses"> Cursos</a>
    </li>
    <li>
      <a href="/#business"> Business Solutions</a>
    </li>
    <li>
      <a href="/about"> Sobre nostrosos</a>
    </li>
    <li>
      <a href="/#contact"> Contacto</a>
    </li>
  </ul>
</nav>
