<nav>
  <ul
    class="absolute left-1/2 hidden w-[45rem] translate-x-[-50%] justify-between pt-9 text-xl text-one lg:flex xl:w-[50rem]">
    <li>
      <a
        href="/"
        class="hover:border-b-2 hover:border-b-one">
        Home</a
      >
    </li>
    <li>
      <a
        href="/#products"
        class="hover:border-b-2 hover:border-b-one">
        Productos</a
      >
    </li>
    <li>
      <a
        href="/#courses"
        class="hover:border-b-2 hover:border-b-one">
        Cursos</a
      >
    </li>
    <li>
      <a
        href="/#business"
        class="hover:border-b-2 hover:border-b-one">
        Business Solutions</a
      >
    </li>
    <li>
      <a
        href="/about"
        class="hover:border-b-2 hover:border-b-one">
        Sobre nostrosos</a
      >
    </li>
    <li>
      <a
        href="/#contact"
        class="hover:border-b-2 hover:border-b-one">
        Contacto</a
      >
    </li>
  </ul>
</nav>
