---
import Layout from '../layouts/Layout.astro';
import '@fontsource/roboto';
import Hero from '../components/Hero/Hero.astro';
import Productos from '../components/Productos/Productos.astro';
import Cursos from '../components/Cursos/Cursos.astro';
---

<Layout title="Welcome to Astro.">
  <Hero />
  <Productos />
  <Cursos />
  <div class="h-[1000px] w-screen bg-five"></div>
</Layout>

<style></style>
