---
import Consultar from '../../../components/Consultar.astro';
import Contacto from '../../../components/Contacto/Contacto.astro';
import Burger from '../../../components/Hero/Burger';
import Nav from '../../../components/Nav.astro';
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Fútbol Inglés - Polo & Wine">
  <Nav />
  <main
    class="relative bg-five py-10 xl:min-h-[calc(100vh-33.3975rem)] xl:py-20">
    <h1
      class="mx-auto w-[90%] text-center font-title text-6xl text-two sm:text-7xl">
      Fútbol Inglés
    </h1>
    <p
      class="mx-auto mt-12 w-[90%] max-w-[50rem] font-text text-lg text-two">
      Disfruta de la Premier League en vivo y descubre
      ciudades vibrantes como Liverpool, Manchester y
      Londres. La Premier League es la liga más emocionante
      del mundo y ver un partido en vivo es una experiencia
      única. Los famosos equipos como Chelsea, Manchester
      United, Liverpool y Tottenham compiten en esta liga
      con millones de fanáticos en todo el mundo.<br /><br
      />
      Polo & Wine te invita a disfrutar de la máxima categoría
      del futbol inglés en estadios legendarios como Anfield
      Road, Old Trafford o Stamford Bridge. Contáctanos para
      diseñar tu viaje a medida y disfrutar del ambiente único
      que se respira en un campo de fútbol inglés. Pregúntanos
      por las fechas de salida y el calendario temporada 2022/2023
      de la Premier League.
    </p>

    <a
      href=" https://docs.google.com/forms/u/1/d/e/1FAIpQLSfvbT-Se1AXz8EnFeDrfH3lBoGjfpsyqs2KwfNwQcdaSyJcFA/viewform"
      rel="noreferrer"
      target="_blank"
      aria-label="link to form"
      class="text mx-auto mb-4 mt-8 block w-80 rounded-xl bg-two py-[0.6rem] text-center font-text text-xl font-semibold leading-7 tracking-wide text-one duration-200 hover:bg-one hover:text-two"
      >Consultar</a
    >

    <Burger client:load />
  </main>
  <Contacto />
</Layout>
