<nav
  class={`sticky  hidden h-24 w-full items-center justify-center border-one bg-two  xl:flex `}>
  <ul
    class={`w-[45rem] items-center justify-between font-title text-xl text-one lg:flex xl:w-[50rem]`}>
    <li>
      <a
        href="/"
        class="duration-200 hover:text-five">
        Home
      </a>
    </li>
    <li>
      <a
        href="/#paquetes"
        class="duration-200 hover:text-five">
        Paquetes
      </a>
    </li>
    <li>
      <a
        href="/#cursos"
        class="duration-200 hover:text-five">
        Cursos de inglés
      </a>
    </li>
    <li>
      <a
        href="/#servicios"
        class="duration-200 hover:text-five">
        Servicios
      </a>
    </li>
    <li>
      <a
        href="/about"
        class="duration-200 hover:text-five">
        Sobre nosotros
      </a>
    </li>
    <li>
      <a
        href="/#contacto"
        class="duration-200 hover:text-five">
        Contacto
      </a>
    </li>
  </ul>
</nav>
