<section
  id="business"
  class="bg-two py-10">
  <h2
    class="mx-auto w-[90%] text-center font-title text-4xl text-five xsm:text-5xl sm:w-[95%] md:w-[95%] md:max-w-[40rem] lg:max-w-[64rem] lg:text-6xl">
    Representación comercial en Europa y Medio Oriente
  </h2>
  <p
    class="mx-auto my-10 w-[90%] max-w-[48rem] text-center font-text text-lg text-five">
    Ayudamos a las empresas de Latinoamérica a expandir sus
    negocios. Ofrecemos una amplia gama de servicios
    personalizados que incluyen investigación de mercado,
    identificación de oportunidades de negocio,
    establecimiento de contactos, representación comercial,
    servicios de marketing y promoción, servicios de
    traducción y asesoramiento legal y fiscal.
  </p>
  <a
    href="/business"
    class="mx-auto mb-4 mt-10 block w-[20rem] rounded-xl border-2 border-five py-2 text-center font-text text-xl text-five duration-200 hover:border-one hover:bg-one hover:text-two">
    Ver más</a
  >
</section>
