---
import Consultar from '../../../components/Consultar.astro';
import Contacto from '../../../components/Contacto/Contacto.astro';
import Burger from '../../../components/Hero/Burger';
import Nav from '../../../components/Nav.astro';
import Layout from '../../../layouts/Layout.astro';
---

<Layout title="Wimbledon - Polo & Wine">
  <Nav />
  <main
    class="relative bg-five py-10 xl:min-h-[calc(100vh-33.3975rem)] xl:py-20">
    <h1
      class="mx-auto w-[90%] text-center font-title text-6xl text-two sm:text-7xl">
      Wimbledon
    </h1>
    <p
      class="mx-auto mt-12 w-[90%] max-w-[50rem] font-text text-lg text-two">
      Disfruta en vivo del torneo de tenis más antiguo del
      mundo, Wimbledon, en Londres. Polo & Wine te invita a
      vivir la mejor experiencia de Grand Slam y a disfrutar
      del ambiente festivo de la ciudad. Escoge las fechas
      de los partidos y déjanos organizar tu viaje a medida.
      Además, si quieres recorrer otras ciudades del Reino
      Unido, te ofrecemos alternativas para realizar turismo
      local. No te pierdas la oportunidad de conocer la
      "Catedral del Tenis" y saborear las tradicionales
      frutillas con crema de Wimbledon. Contáctanos para
      conocer las fechas de salida y todos los paquetes
      disponibles.
    </p>

    <a
      href="https://docs.google.com/forms/d/e/1FAIpQLSfSXQM2NhyFae7CAGCfW-n-3gdwLevfClYBG6PJ3Avmy6KFLw/viewform"
      rel="noreferrer"
      target="_blank"
      aria-label="link to form"
      class="text mx-auto mb-4 mt-8 block w-80 rounded-xl bg-two py-[0.6rem] text-center font-text text-xl font-semibold leading-7 tracking-wide text-one duration-200 hover:bg-one hover:text-two"
      >Consultar</a
    >

    <Burger client:load />
  </main>
  <Contacto />
</Layout>
