---
export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html
  lang="es"
  class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta
      name="viewport"
      content="width=device-width"
    />
    <link
      rel="icon"
      type="image/svg+xml"
      href="/Isotipo.svg"
    />
    <meta
      name="generator"
      content={Astro.generator}
    />
    <title>{title}</title>
    <meta
      name="description"
      content="Polo & Wine ofrece experiencias excepcionales en el Reino Unido y Argentina para pasajeros individuales y peque単os grupos. Descubra nuestras opciones personalizadas y disfrute de un viaje sin complicaciones con nuestro equipo biling端e"
    />
    <meta
      property="og:url"
      content="https://www.poloandwine.com/"
    />
    <meta
      property="og:type"
      content="website"
    />
    <meta
      property="og:title"
      content="Polo & Wine"
    />
    <meta
      property="og:description"
      content="Polo & Wine ofrece experiencias excepcionales en el Reino Unido y Argentina para pasajeros individuales y peque単os grupos. Descubra nuestras opciones personalizadas y disfrute de un viaje sin complicaciones con nuestro equipo biling端e"
    />
    <meta
      property="og:image"
      content="https://www.poloandwine.com/Logo-preview.svg"
    />
  </head>
  <body class="z-0 min-h-screen">
    <slot />
  </body>
</html>
<style is:global></style>
